[submodule "smartcontracts"]
	path = smartcontracts
	url = https://github.com/Leonard-Pat/verisart-contracts.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/Leonard-Pat/verisart-frontend.git
